*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url("bg.jpg");
  background-size: cover;
}

.background {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 50%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 43.8rem;
  height: 21.9rem;
  background-color: hsla(0, 0%, 54%, 0.35);
  backdrop-filter: blur(0.3rem);
  border-radius: 1rem 0 0 1rem;
}

.container .form_content,
.container .login_form {
  position: relative;
  width: 50%;
  height: 21.9rem;
  float: left;
  box-sizing: border-box;
}

.container .form_content {
  padding: 2.5rem 1.9rem;
  color: hsl(0, 0%, 100%);
}

.container .form_content h2 {
  font-size: 2.5rem;
  padding: 0 0 1rem 0;
}

.container .form_content p {
  font-size: 1rem;
}

.container .login_form {
  background: #fff;
  height: 23.8rem;
  top: -0.9rem;
  box-shadow: -1.2rem 0rem 0.9rem rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  padding: 2rem;
  border-radius: 1rem;
}

.align {
  width: 100%;
}

.container .login_form h1 {
  color: #262626;
  font-size: 2rem;
  margin-block-end: 1rem;
}

.container .login_form input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  box-sizing: border-box;
  margin-bottom: 1.3rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
}

.container .login_form input:hover,
.container .login_form input:valid {
  border: 0.2rem solid hsl(104, 29%, 55%);
}

.container .login_form input[type="submit"] {
  color: #fff;
  background: hsl(104, 29%, 55%);
  font-size: 1rem;
  transition: 0.5s;
}

.container .login_form input[type="submit"]:hover {
  background: hsl(104, 40%, 39%);
  border: 0.2rem solid hsl(104, 40%, 39%);
}
